[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
per-file-ignores =
    __init__.py:F401
    avd_cli/logics/loader.py:C901
max-complexity = 10
